body{

font-family:
"Microsoft YaHei";

margin:0;

background:#f4f7fb;

color:#333;

}



.header{

background:#0b3d91;

color:white;

text-align:center;

padding:60px;

}



.content{

background:white;

width:80%;

margin:40px auto;

padding:40px;

border-radius:10px;

}



h2{

color:#0b3d91;

}


li{

margin:15px;

}